<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.sanvasify</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/Users/P2163431/Projects/gomod/sanvasify/dist/sanvasify</string>
    </array>
    
    <key>WorkingDirectory</key>
    <string>/Users/P2163431/Projects/gomod/sanvasify/dist</string>
    
    <key>StandardOutPath</key>
    <string>/tmp/sanvasify.log</string>
    
    <key>StandardErrorPath</key>
    <string>/tmp/sanvasify.err.log</string>
    
    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>
    
    <key>RunAtLoad</key>
    <false/>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
</dict>
</plist>
